<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "span5" %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "span5"  %>
  </div>
  <div class="field">
    <%= f.label :duedate %>
    <%= f.date_select :duedate %>
  </div>
  <div class="field">
    <%= f.label :tstage %>
    <%= f.text_field :tstage %>
  </div>
  <div class="field">
    <%= f.label :tcategories %>
     <% ["Folder", "Fax", "Email"].each do |tcategory| %>
    <li><%= check_box_tag "task[tcategories][]", tcategory, @task.tcategories.include?(tcategory), id: "task_tcategories_#{tcategory}" %> <%= tcategory %></li>


  <% end %>





  </div>
  <div class="field">
    <%= f.label :coworker %>
    <%= f.number_field :coworker %>
  </div>
  <div class="field">
    <%= f.label :creator %>
    <%= f.number_field :creator %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
