<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <% if current_user.id == @task.user_id or @task.id.nil? %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "span12" %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "span12"  %>
  </div>
  <div class="field">
    <%= f.label :duedate %>
    <%= f.date_field :duedate, :class => "span12" %>
  </div>
  <div class="field">
    <label>Stage</label>
    <%= f.select :tstage, ['to do', 'in progress','completed']%>

  </div>
  <div class="field">
  <label>Task categories</label>
    <% ["design","development","logistics","administration","marketing"].each do |tcategory| %>
    <%= check_box_tag "task[tcategories][]", tcategory, @task.tcategories.include?(tcategory), id: "task_tcategories_#{tcategory}" %> <%= tcategory %><br/>
  <% end %>
  </div>
  <div class="field">
    <%= f.label :coworker %>
   <%= f.select(:coworker, User.where.not(:id=>current_user).collect {|p| [ p.name, p.id ] }, 
                                           { :prompt => "Please select"}, 
                                           { :multiple => true, :size => 5 }) %>
  </div>
  <div class="field">
     <label>Creator:<%= current_user.name if current_user %></label>
    <%= f.hidden_field :user_id, :value => current_user.id if current_user %>
  </div>

    <div class="actions">
    <%= f.submit :class=>"btn btn-large btn-block btn-primary" %>
  </div>
<% end %>


 <% end %>

 <% if current_user.id != @task.user_id && !@task.id.nil?  %>


   <select onchange="choice1(this)" id="changett">
        <option value="<%= @task.tstage %>">Change status </option>
        <option value="to do">to do</option>
        <option value="completed">completed</option>
        <option value="in progress">in progress</option>
    </select>

 <% end %>








<script type="text/javascript">
  
function choice1(select) {

    var choose_stage = select.options[select.selectedIndex].text;
  
     $.ajax({
            type: 'GET',
            url: '/change_stage/<%= @task.id %>/'+choose_stage,
            success: function(content) {
               
            }   
        });location.reload();
        return false; // to stop link
 

}

</script>

 
 